.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

label {
  display: block;
  font-size: 20px;
}

input {
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 5px 10px;
}

input[type="checkbox"] {
  margin-left: 0;
  margin-right: 10px;
}

button {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto;
  width: 150px;
  transition-duration: 0.5s;
  margin-top: 50px;
  justify-content: center;
}
button:hover {
  width: 250px;
  justify-content: center;
}

span {
  color: orange;
  font-size: 15px;
  padding-left: 20px;
  font-weight: bold;
}

.message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

h3 {
  font-size: 35px;
}
